1.feladat:

In [ ]:
szam=20
while 48> szam :
 print(szam)
 szam+=2

20
22
24
26
28
30
32
34
36
38
40
42
44
46

2.feladat:

In [ ]:
for num in range(1,31) :
  if num>1:
    for i in range(2, num) :
      if (num%i)==0:
        break
    else:
        print(num)

2
3
5
7
11
13
17
19
23
29

3.feladat

In [ ]:

print("Irj be egy szamot: ")
szam=int(input())
if (szam>0):
  print("A szam pozitiv")
elif (0>szam):
  print("A szam negativ")
elif (szam==0):
  print("A szam 0")

Irj be egy szamot:
12
A szam pozitiv

4.feladat

In [1]:
def atlag(tomb):
  return sum(tomb)/len(tomb)

tomb=[1,3,4,7,11]
Atlag=atlag(tomb)

print("Az tomb atlaga: ",Atlag)

Az tomb atlaga:  5.2

5.feladat

In [2]:
tomb=[1,9,7,4,6,87,67]
for i in range(len(tomb)):
  print(tomb)

[1, 9, 7, 4, 6, 87, 67]
[1, 9, 7, 4, 6, 87, 67]
[1, 9, 7, 4, 6, 87, 67]
[1, 9, 7, 4, 6, 87, 67]
[1, 9, 7, 4, 6, 87, 67]
[1, 9, 7, 4, 6, 87, 67]
[1, 9, 7, 4, 6, 87, 67]

Készitette: Németh Áron Imre (D1J5ZG)